# WordPress 
*
!/.gitignore
!/README.md
!wp-content/
!wp-content/themes/
!wp-content/themes/r3HeadlessWP/
!wp-content/themes/r3HeadlessWP/**/*
!wp-content/plugins/
!wp-content/plugins/**/*

# Defaults
.DS_Store
node_modules